div{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
#BoxMargin{
    border: 1px dashed black;
}
#BoxBorder{
    padding: 10px;
    background-color: yellow;
}
#BoxPadding{
    padding: 10px;
    background-color: white;
}
#BoxContent{
    padding: 80px;
    border: 1px dashed black;
}